
@{
    ViewBag.Title = "Detail Blog";
}

<div class="row content-post" style="padding:3% 0%">
    <div class="col-sm-9" style="padding: 2% 5%;">
        <h1 class="heading center" style="color: #82A800;font-weight: 700;font-size:28px;">Điều gì khiến người lớn PHẢI học tiếng Anh?</h1>
        <div class="content-main">
            <p><img title="" src="https://vus.edu.vn/media/158181/imagine-40.jpg" alt="" border="0" /></p>
            <div class="clear20">&nbsp;</div>
            <h1 class="title">Điều g&igrave; khiến người lớn PHẢI học tiếng Anh?</h1>
            <div class="row_date">Ng&agrave;y đăng 30.06.2017</div>
            <div class="row_content">
                <p><em>Với nhu cầu sử dụng tiếng Anh trong nhiều t&igrave;nh huống đời sống như giao tiếp với đối t&aacute;c nước ngo&agrave;i, tham dự c&aacute;c kh&oacute;a tu nghiệp, dạy con, tra cứu t&agrave;i liệu chuy&ecirc;n m&ocirc;n..., người trưởng th&agrave;nh dần xem việc học ngoại ngữ l&agrave; điều tất yếu trong cuộc sống.</em></p>
                <ol>
                    <li><strong>Du học&nbsp;</strong></li>
                </ol>
                <p>Để nhanh ch&oacute;ng l&agrave;m quen với trường lớp v&agrave; c&aacute;c t&igrave;nh huống&nbsp;giao tiếp ở nơi "đất kh&aacute;ch qu&ecirc; người", bạn cần trau dồi tiếng Anh vững chắc trước thời điểm du học. Đ&acirc;y sẽ l&agrave; "chiếc ch&igrave;a kh&oacute;a" gi&uacute;p bạn h&ograve;a nhập nhanh v&agrave;o m&ocirc;i trường sống quốc tế. &nbsp;</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://vus.edu.vn/media/158180/imagine-30.jpg?width=500&amp;height=499.99999999999994" alt="" data-id="11269" /></p>
                <ol start="2">
                    <li><strong>Sự nghiệp thăng tiến</strong></li>
                </ol>
                <p>Để bước l&ecirc;n những bậc thang cao hơn của&nbsp;sự nghiệp, bạn cần tiếng Anh như một "c&ocirc;ng cụ" thể hiện kiến thức&nbsp;cũng như&nbsp;sự bản lĩnh của m&igrave;nh&nbsp;trước cấp tr&ecirc;n, đồng nghiệp v&agrave; đối t&aacute;c nước ngo&agrave;i. Th&agrave;nh thạo ng&ocirc;n ngữ n&agrave;y c&ograve;n gi&uacute;p bạn c&oacute; được những cơ hội giao lưu, học hỏi qu&yacute; gi&aacute; từ nhiều bạn b&egrave;&nbsp;tr&ecirc;n khắp thế giới.</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://vus.edu.vn/media/158178/istock-610117816.jpg?width=500&amp;height=333.0677290836653" alt="" data-id="11267" /></p>
                <ol start="3">
                    <li><strong>Dạy con&nbsp;</strong></li>
                </ol>
                <p>Trẻ em sẽ được ph&aacute;t triển tư duy ng&ocirc;n ngữ v&agrave; khả năng tiếp thu kiến thức khi tiếp x&uacute;c với Anh ngữ ngay từ những năm đầu đời. Hiểu được điều n&agrave;y, b&ecirc;n cạnh việc tạo n&ecirc;n m&ocirc;i trường Anh ngữ&nbsp;tại nh&agrave;, c&ugrave;ng con học tiếng Anh mỗi ng&agrave;y, nhiều bậc cha mẹ c&ograve;n chọn lựa&nbsp;<a href="https://vus.edu.vn/programs/"><em>lớp học tiếng Anh</em></a>&nbsp;ph&ugrave; hợp lứa tuổi để&nbsp;con theo học .</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://vus.edu.vn/media/157974/istock-494781129.jpg?width=500&amp;height=333.125" alt="" data-id="7415" /></p>
                <ol start="4">
                    <li><strong>Đi du lịch&nbsp;nước ngo&agrave;i</strong></li>
                </ol>
                <p>Du lịch nước ngo&agrave;i đ&atilde; trở th&agrave;nh sở th&iacute;ch của rất nhiều người từ trẻ đến gi&agrave;. Với vốn tiếng Anh vững v&agrave;ng, người trường th&agrave;nh c&oacute; thể tự do kh&aacute;m ph&aacute; những v&ugrave;ng đất mới, t&iacute;ch lũy nhiều trải nghiệm kh&oacute; qu&ecirc;n, gi&uacute;p cuộc sống th&ecirc;m phần th&uacute; vị.&nbsp;</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://vus.edu.vn/media/158179/imagine-111.jpg?width=500&amp;height=250.51831375259155" alt="" data-id="11268" /></p>
                <p>Trong&nbsp;nhịp sống hội nhập hiện đại, nhu cầu cải thiện&nbsp;<a href="https://vus.edu.vn/programs/anh-ngu-dam-thoai-ung-dung-italk/"><em>tiếng Anh giao tiếp</em></a>&nbsp;c&agrave;ng được ch&uacute; trọng. Với đặc th&ugrave; về lứa tuổi v&agrave; khả năng tiếp thu ng&ocirc;n ngữ, những&nbsp;<em>lớp Anh ngữ</em>&nbsp;c&oacute; m&ocirc;i trường học tập sinh động v&agrave; phương ph&aacute;p giảng dạy mang t&iacute;nh tương t&aacute;c cao&nbsp;sẽ l&agrave; lựa chọn tốt nhất để người trưởng th&agrave;nh thẩm thấu ng&ocirc;n&nbsp;ngữ&nbsp;một c&aacute;ch hiệu quả.&nbsp;</p>
            </div>
        </div>
        <br />
        <hr />
        <span class="pull-right bold" style="color:black">Dr Thanh Diệu</span>
    </div>
    <div class="col-sm-3 blog-right">
        <span style="color: #333333;font-weight:bold; font-size:15px;">ĐIỀN THÔNG TIN - NHẬN TƯ VẤN</span>
        <br /><br />
        <div class="form-info">
            <p style="font-size:16px">Họ tên học viên</p>
            <input type="text" style="padding: 8px 4px; border-radius: 10px;width:260px;" />
            <br />
            <p style="font-size:16px">Số điện thoại liên hệ</p>
            <input type="text" style="padding: 8px 4px; border-radius: 10px;width:260px" />
            <br />
            <p style="font-size:16px">Email liên hệ</p>
            <input type="text" style="padding: 8px 4px; border-radius: 10px;width:260px" />
            <br />
            <p style="font-size:16px">Nhu cầu học</p>
            <input type="text" style="padding: 8px 4px; border-radius: 10px;width:260px" />
            <br />
            <div>
                <button style="color:white;background-color:#82A800; text-align:center;padding:5px;border-radius: 10px;font-weight:bold">GỬI THÔNG TIN</button>
            </div>
        </div>
        <br />
        <h2 style="color: #333333;">BLOG LIÊN QUAN</h2>
        <ul>
            <li style="list-style:none" class="other-blog">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("DetailBlog","News")"><img src="~/Content/img/backgrounds/blog1.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("DetailBlog","News")" class="cursor">CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none" class="other-blog">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("DetailBlog","News")"><img src="~/Content/img/backgrounds/blog2.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("DetailBlog","News")" class="cursor">CHÀO MỪNG NGÀY QUỐC TẾ THIẾU NHI 1/6</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none" class="other-blog">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("DetailBlog","News")"><img src="~/Content/img/backgrounds/blog3.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("DetailBlog","News")" class="cursor">CHƯƠNG TRÌNH "VUI HÈ ĐỌC SÁCH 2016"</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none" class="other-blog">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("DetailBlog","News")"> <img src="~/Content/img/backgrounds/blog5.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("DetailBlog","News")" class="cursor">NGOẠI NGỮ SAPPHIRE</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none" class="other-blog">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("DetailBlog","News")"><img src="~/Content/img/backgrounds/blog6.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("DetailBlog","News")"> class="cursor">CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/11/2017</i></span>
                <div class="row">

                </div>
            </li>
        </ul>
    </div>
</div>

<style>
    .blog-right {
        padding-top: 2%;
    }

    .form-info {
        border-radius: 10px;
        position: relative;
        margin: 0px;
        margin-right: 20px;
        text-align: left;
        background: rgba(222, 222, 222, 0.38);
        padding: 40px 25px;
        line-height: 150%;
        border-width: 0px !important;
        border-color: transparent !important;
        color: rgb(52, 52, 52);
    }

    .other-blog {
        padding-right: 20px;
    }
</style>