
@{
    ViewBag.Title = "Detail";
}

<div class="row content-post" style="padding:5% 5%">
    <div class="col-sm-9">
        <h1 class="heading center" style="color: #82A800;font-weight: 700;font-size:28px;">CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</h1>
        <div class="content-main">

            <p>Kết th&uacute;c một năm học đầy căng thẳng, ắt hẳn em thiếu nhi n&agrave;o cũng muốn giải tho&aacute;t khỏi trường lớp s&aacute;ch vở để vui chơi thỏa th&iacute;ch. Với mong ước d&agrave;nh tặng cho c&aacute;c em một kỉ niệm m&ugrave;a h&egrave; đ&aacute;ng nhớ, Ngoại Ngữ Dương Minh kết hợp c&ugrave;ng tiNi World tổ chức chương tr&igrave;nh ngoại kh&oacute;a h&egrave; đặc sắc 2017 d&agrave;nh cho học vi&ecirc;n thiếu nhi cấp độ từ Early Stars đến Starters của to&agrave;n hệ thống Dương Minh</p>
            <p>Chương tr&igrave;nh hứa hẹn sẽ đem đến cho c&aacute;c em nhiều niềm vui bất ngờ qua những hoạt động cực k&igrave; h&agrave;o hứng:</p>
            <p>* Anh Ngữ Vui Nhộn do tập thể gi&aacute;o vi&ecirc;n Việt Nam v&agrave; Quốc Tế của Ngoại Ngữ Dương Minh phụ tr&aacute;ch sẽ tạo cơ hội cho c&aacute;c em n&acirc;ng cao khả năng tiếng Anh trong m&ocirc;i trường thực tế sống động.</p>
            <p>*&nbsp;Tr&ograve; Chơi Vận Động li&ecirc;n ho&agrave;n với juNo Playland, hồ c&acirc;u c&aacute; &ndash; tiNi Fishing, s&acirc;n chơi c&aacute;t &nbsp;kết hợp khu nh&agrave; banh, cầu tuột, x&iacute;ch đu&hellip;l&agrave; nơi c&aacute;c em thỏa sức vui đ&ugrave;a v&agrave; r&egrave;n luyện thể chất.</p>
            <p>*&nbsp;Tại khu tr&ograve; chơi Cosplay &amp; Fashion, Creative Garage&hellip;, c&aacute;c em sẽ được tự do thể hiện sự s&aacute;ng tạo v&agrave; năng khiếu nghệ thuật của m&igrave;nh.</p>
            <p>*&nbsp;&nbsp;Khu Vi T&iacute;nh Tr&iacute; Tuệ &ndash; Tech zone, Game zone, Discovery zone&hellip;l&agrave; những tr&ograve; chơi k&iacute;ch th&iacute;ch tr&iacute; th&ocirc;ng minh, ph&aacute;t triển tư duy rất cần thiết cho c&aacute;c em.</p>
            <p>* &nbsp;Niềm vui v&agrave; sự hứng khởi của c&aacute;c em sẽ được tiếp nối khi đến với khu tr&ograve; chơi Cooking class, Green garden, khu ẩm thực &ndash; kiLo caf&eacute;&hellip;</p>
            <p>C&aacute;c hoạt động n&agrave;y kh&ocirc;ng chỉ đem đến ng&agrave;y h&egrave; vui vẻ, m&agrave; c&ograve;n gi&uacute;p c&aacute;c em ph&aacute;t triển to&agrave;n diện về: tr&iacute; tuệ, nhận thức, cảm x&uacute;c, quan hệ x&atilde; hội, thể chất v&agrave; giao tiếp.&nbsp;</p>
            <p>Ngoại Ngữ Dương Minh hi vọng to&agrave;n thể học vi&ecirc;n sẽ tham gia nhiệt t&igrave;nh v&agrave; gặt h&aacute;i được thật nhiều niềm vui cũng như những kiến thức bổ &iacute;ch.</p>
            <p><img src="http://www.duongminh.edu.vn/data/images/tiniworld%20web-01.jpg" alt="" /></p>
        </div>
        <br />
        <hr />
        <span class="pull-right bold" style="color:black">Dr Thanh Diệu</span>
    </div>
    <div class="col-sm-3">
        <h2 class="heading center" style="color: #333333;">TIN TỨC KHÁC</h2>
        <hr />
        <ul>
            <li style="list-style:none">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Details","News")"><img src="~/Content/img/backgrounds/news1.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("Details","News")" class="cursor">CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Details","News")"><img src="~/Content/img/backgrounds/news2.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("Details","News")" class="cursor">CHÀO MỪNG NGÀY QUỐC TẾ THIẾU NHI 1/6</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Details","News")"><img src="~/Content/img/backgrounds/news4.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("Details","News")" class="cursor">CHƯƠNG TRÌNH "VUI HÈ ĐỌC SÁCH 2016"</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Details","News")"> <img src="~/Content/img/backgrounds/news5.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("Details","News")" class="cursor">NGOẠI NGỮ SAPPHIRE</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/10/2017</i></span>
                <div class="row">

                </div>
            </li>
            <li style="list-style:none">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Details","News")"><img src="~/Content/img/backgrounds/news1.jpg" style="margin-top:15%" /></a>
                    </div>
                    <div class="col-sm-8">
                        <a href="@Url.Action("Details","News")"> class="cursor">CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</a>
                    </div>
                </div>
                <span class="pull-right"><i>10/11/2017</i></span>
                <div class="row">

                </div>
            </li>
        </ul>
        <nav class="pagination">
            <ul class="pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="current"><strong>3</strong></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
