
@{
    ViewBag.Title = "ImageLibrary";
}

<div style="padding:5% 5%">
    <div class="row">
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news1.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Ngày Quốc Tế Thiếu Nhi 1.6.2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news4.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Chương trình vui xuân 2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news1.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Ngày Quốc Tế Thiếu Nhi 1.6.2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news2.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Chương trình văn hóa đọc sách 2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news3.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Ngày Quốc Tế Thiếu Nhi 1.6.2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box-wp">
                <div class="wp-img">
                    <a href="@Url.Action("DetailImageLibrary","News")">
                        <img src="~/Content/img/backgrounds/news2.jpg" />
                    </a>
                </div>
                <span style="">
                    <strong>
                        <a href="@Url.Action("DetailImageLibrary","News")" title="Ngày Quốc Tế Thiếu Nhi 1.6.2017">
                            Ngoại khóa hè 2017
                        </a>
                    </strong>
                </span>
            </div>
        </div>
    </div>
</div>
<nav class="pagination">
    <ul>
        <li><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="current"><strong>3</strong></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul>
</nav>

<style>
    .box-wp {
        border: 1px solid #dfdfdf;
        border-radius: 8px;
        box-shadow: 0 0 4px #ddd;
        margin-bottom: 30px;
    }

        .box-wp .wp-img {
            padding: 10px;
            border-bottom: 1px solid #dfdfdf;
            width: 400px;
            height: 300px;
        }

        .box-wp span {
            display: block;
            padding: 5%;
        }
</style>