
@{
    ViewBag.Title = "Index";
}
<h2 class="heading center" style="padding-top: 40px;color: #333333;font-weight: 700;">TIN TỨC VÀ SỰ KIỆN</h2>
<div style="padding:3% 7%">
    <div class="list-news">
        <ul class="list-post">
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/img/backgrounds/news1.jpg" class="img-post" />
                    </div>
                    <div class="col-sm-9">
                        <a class="cursor" href="@Url.Action("Details","News")"><h4>CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</h4></a>
                        <span>Kết thúc một năm học đầy căng thẳng, ắt hẳn em thiếu nhi nào cũng muốn giải thoát khỏi trường lớp sách vở để vui chơi thỏa thích. Với mong ước dành tặng cho các em một kỉ niệm mùa hè đáng nhớ, Ngoại Ngữ Sapphire kết hợp cùng tiNi World tổ chức chương trình ngoại khóa hè đặc sắc 2017 dành cho học viên thiếu nhi cấp độ từ Early Stars đến Starters của toàn hệ thống Sapphire...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-news">
        <ul class="list-post">
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/img/backgrounds/news2.jpg" class="img-post" />
                    </div>
                    <div class="col-sm-9">
                        <a class="cursor" href="@Url.Action("Details","News")"><h4>CHÀO MỪNG NGÀY QUỐC TẾ THIẾU NHI 1/6</h4></a>
                        <span>Trẻ em quyết định vận mệnh và tương lai của đất nước.Vì vậy các em luôn xứng đáng nhận được tình yêu thương, sự quan tâm của xã hội...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-news">
        <ul class="list-post">
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/img/backgrounds/news3.jpg" class="img-post" />
                    </div>
                    <div class="col-sm-9">
                        <a class="cursor" href="@Url.Action("Details","News")"><h4>CHƯƠNG TRÌNH NGOẠI KHÓA HÈ 2017</h4></a>
                        <span>Kết thúc một năm học đầy căng thẳng, ắt hẳn em thiếu nhi nào cũng muốn giải thoát khỏi trường lớp sách vở để vui chơi thỏa thích. Với mong ước dành tặng cho các em một kỉ niệm mùa hè đáng nhớ, Ngoại Ngữ Sapphire kết hợp cùng tiNi World tổ chức chương trình ngoại khóa hè đặc sắc 2017 dành cho học viên thiếu nhi cấp độ từ Early Stars đến Starters của toàn hệ thống Sapphire...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-news">
        <ul class="list-post">
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/img/backgrounds/news4.jpg" class="img-post" />
                    </div>
                    <div class="col-sm-9">
                        <a class="cursor" href="@Url.Action("Details","News")"><h4>CHƯƠNG TRÌNH "VUI HÈ ĐỌC SÁCH 2016"</h4></a>
                        <span>
                            Tiếp nối "Chương trình: Ngoại khóa hè 2016", trong 2 ngày 16&17 tháng 7 năm 2016 tại trụ sở chính Trung Tâm Ngoại Ngữ Dương Minh.
                            Địa chỉ: Số 132 A-B-C-D-E Phan Đăng Lưu, P.3, Q. Phú Nhuận, Tp. HCM.
                            Đã diễn ra ngày hội sách 2016 do Trung Tâm Ngoại Ngữ Dương Minh phối hợp với Công ty cổ phần phát hành sách TP HCM - FAHASA tổ chức, với chủ đề " Vui hè đọc sách". Đến với chương trình các bé được tham quan, tìm đọc và mua những quyển sách rất là bổ ích...
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-news">
        <ul class="list-post">
            <li>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/img/backgrounds/news5.jpg" class="img-post" />
                    </div>
                    <div class="col-sm-9">
                        <a class="cursor" href="@Url.Action("Details","News")"><h4>NGOẠI NGỮ SAPPHIRE</h4></a>
                        <span>Việt Nam chính thức bước vào hội nhập sâu rộng về mọi mặt vào những năm đầu thập niên 90 của thế kỷ trước. Hơn ai hết Nhà giáo hơn 50 năm kinh nghiệm Dương Minh hiểu được tầm quan trọng của ngoại ngữ mà đặc biệt là tiếng Anh đóng vai trò then chốt đến mức nào trên con đường hội nhập đó. Với Thầy thì tiếng Anh luôn chính là chìa khoá giúp mọi người thành công trong cuộc sống. Với tâm niệm như vậy, Thầy đã thành lập Ngoại ngữ Dương Minh với mong muốn phổ cập tiếng Anh đến mọi người...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<nav class="pagination">
    <ul>
        <li><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="current"><strong>3</strong></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul>
</nav>

<style>
    .list-news .list-post {
        padding: 0;
    }

        .list-news .list-post li {
            list-style: none;
            padding: 15px 15px 10px 15px;
            border: 1px solid #ededed;
            margin-bottom: 8px;
            transition: all ease .4s;
        }

            .list-news .list-post li .img-post {
                padding: 5px;
                background: #fff;
                border: 1px solid #ebebeb;
                margin-right: 15px;
                float: left;
                margin-bottom: 8px;
            }

            .list-news .list-post li:hover {
                box-shadow: 0 0 5px #82A800;
            }
</style>